/*****************************************************************************
 * File			: design.css
 * Description	: Arquivo com a folha de estilos do site.
 *****************************************************************************/

body {
	text-align: center;
	margin: 5px;
}

#site {
	width: 750px;
	margin: 0 auto 0 auto;
}

#header {
	font-family: Verdana;
	font-size: 24pt;
	font-weight: bold;
	background: #FFFFFF;
	text-align: left;
	color: #666666;
	padding: 4px;
}

#content {
	clear: both;
	text-align: left;
	padding: 8px;
	background: #F4F4F4;
	font-family: Verdana, Helvetica, "Trebuchet Unicode MS", "Lucida Grande", sans-serif, "Lucida Sans Unicode", "Bitstream Vera Sans", ;
	float: left;
}

#ads {
	float: right;
	width: 50px;
}


#footer {
	clear: both;
	background: #303030;
	color: #EEE;
	font-size: 9pt;
	font-family: Verdana, Helvetiva;
	padding: 2px;
	border-top: 1px solid #FFF;
}

h1 {
	color: #AA0000;
	font-size: 16pt;
	font-family: Verdana, Helvetica, "Trebuchet Unicode MS";
}
