/*****************************************************************************
 * File			: design.css
 * Description	: Arquivo com a folha de estilos do site.
 *****************************************************************************/

body {
	background: #F6F6F6;
	text-align: center;
	margin: 5px;
}

#site {
	width: 750px;
	background: #eceff6 ;
	margin: 0 auto 0 auto;
}

#header {
	font-family: Verdana;
	font-size: 24pt;
	font-weight: bold;
	color: #666666;
}

#content {
	clear: both;
	text-align: left;
	padding: 4px;
}